aside{
    margin: 0 auto;
    width: 310px;
    min-height: 700px;
    background-color: rgb(255, 0, 0);
    float: left;
    padding: 100px;
}

article{
    padding: 100px;
    width: 1109px;
    min-height: 800px;
    background-color: rgb(0, 17, 255);
    float: left;

}